.note {
    padding: 25px;
    height: 240px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 30px;
  }
  img {
    width: 25px;
    height: 30px;
  }
  
  .note_text {
    flex: none;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 2rem;
    outline: none;
    border: none;
    padding-bottom:100px;
    
    
  }
  
   
  
  .note_footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline ;
    
    
    
  }
  
  .note_footer img {
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
  }
  
  .note:hover .note_footer img {
    opacity: 1;
  }
  
